<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
 xmlns:o="urn:schemas-microsoft-com:office:office"
 xmlns:x="urn:schemas-microsoft-com:office:excel"
 xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
 xmlns:html="http://www.w3.org/TR/REC-html40">
 <OfficeDocumentSettings xmlns="urn:schemas-microsoft-com:office:office">
  <AllowPNG/>
 </OfficeDocumentSettings>
 <ExcelWorkbook xmlns="urn:schemas-microsoft-com:office:excel">
  <WindowHeight>14060</WindowHeight>
  <WindowWidth>25040</WindowWidth>
  <WindowTopX>560</WindowTopX>
  <WindowTopY>560</WindowTopY>
  <ProtectStructure>False</ProtectStructure>
  <ProtectWindows>False</ProtectWindows>
 </ExcelWorkbook>
 <Styles>
  <Style ss:ID="Default" ss:Name="Normal">
   <Alignment ss:Vertical="Bottom"/>
   <Borders/>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#000000"/>
   <Interior/>
   <NumberFormat/>
   <Protection/>
  </Style>
  <Style ss:ID="s62">
   <NumberFormat ss:Format="Currency"/>
  </Style>
 </Styles>
  <Worksheet ss:Name="Item List">
    <Table ss:ExpandedColumnCount="5" ss:ExpandedRowCount="60" x:FullColumns="1"
   x:FullRows="1" ss:DefaultColumnWidth="65" ss:DefaultRowHeight="15">
      <Column ss:AutoFitWidth="0" ss:Width="126"/>
      <Row>
        <Cell><Data ss:Type="String">Name</Data></Cell>
        <Cell><Data ss:Type="String">Price</Data></Cell>
        <Cell><Data ss:Type="String">Quantity</Data></Cell>
        <Cell><Data ss:Type="String">Units</Data></Cell>
        <Cell><Data ss:Type="String">Total</Data></Cell>
      </Row>
    <% @oc_line_items.each do |line_item| %>
      <Row>
        <Cell><Data ss:Type="String"><%= line_item.name.encode(:xml => :text) %></Data></Cell>
        <Cell ss:StyleID="s62"><Data ss:Type="Number"><%= line_item.price.money.to_f %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= line_item.quantity %></Data></Cell>
        <Cell><Data ss:Type="String"><%= line_item.units %></Data></Cell>
        <Cell ss:StyleID="s62"><Data ss:Type="Number"><%= line_item.gross_total.money.to_f %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>


