<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
 xmlns:o="urn:schemas-microsoft-com:office:office"
 xmlns:x="urn:schemas-microsoft-com:office:excel"
 xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
 xmlns:html="http://www.w3.org/TR/REC-html40">
 <OfficeDocumentSettings xmlns="urn:schemas-microsoft-com:office:office">
  <AllowPNG/>
 </OfficeDocumentSettings>
 <ExcelWorkbook xmlns="urn:schemas-microsoft-com:office:excel">
  <WindowHeight>14060</WindowHeight>
  <WindowWidth>25040</WindowWidth>
  <WindowTopX>560</WindowTopX>
  <WindowTopY>560</WindowTopY>
  <ProtectStructure>False</ProtectStructure>
  <ProtectWindows>False</ProtectWindows>
 </ExcelWorkbook>
 <Styles>
  <Style ss:ID="Default" ss:Name="Normal">
   <Alignment ss:Vertical="Bottom"/>
   <Borders/>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#000000"/>
   <Interior/>
   <NumberFormat/>
   <Protection/>
  </Style>
  <Style ss:ID="s62">
   <Alignment ss:Horizontal="Center" ss:Vertical="Bottom"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:FontName="Calibri" ss:Size="12" ss:Bold="1"/>
   <Interior ss:Color="#FCF305" ss:Pattern="Solid"/>
  </Style>
  <Style ss:ID="s63">
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
  </Style>
  <Style ss:ID="s64">
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <NumberFormat ss:Format="Currency"/>
  </Style>
  <Style ss:ID="s65">
   <Font ss:FontName="Calibri" ss:Size="12" ss:Color="#000000" ss:Bold="1"/>
  </Style>
  <Style ss:ID="s66">
   <Font ss:FontName="Calibri" ss:Size="12" ss:Color="#000000" ss:Bold="1"/>
   <NumberFormat ss:Format="Currency"/>
  </Style>
  <Style ss:ID="s67">
   <NumberFormat ss:Format="Currency"/>
  </Style>
  <Style ss:ID="s68">
   <Font ss:FontName="Calibri" ss:Size="20" ss:Color="#000000"/>
  </Style>
 </Styles>


  <Worksheet ss:Name="Consolidated Items">
    <Table x:FullColumns="1" x:FullRows="1" ss:DefaultColumnWidth="65" ss:DefaultRowHeight="15">
      <Column ss:AutoFitWidth="0" ss:Width="126"/>
      <Row ss:Height="25">
      <Cell ss:StyleID="s68"><Data ss:Type="String">DELIVERY SHEET - <% @order_cycle.name %></Data></Cell>
      </Row>
      <Row ss:Index="3" ss:AutoFitHeight="0">
      <Cell ss:StyleID="s62"><Data ss:Type="String">Name</Data></Cell>
      <Cell ss:StyleID="s62"><Data ss:Type="String">Price (per kg)</Data></Cell>
      <Cell ss:StyleID="s62"><Data ss:Type="String">Total ($)</Data></Cell>
      <Cell ss:StyleID="s62"><Data ss:Type="String">Total (#)</Data></Cell>
      <Cell ss:StyleID="s62"><Data ss:Type="String">Unit</Data></Cell>
      </Row>

    <% grand_total = 0 %>
    <% @oc_line_items.each do |line_item| %>
      <Row>
        <Cell ss:StyleID="s63"><Data ss:Type="String"><%= line_item.name %></Data></Cell>
        <Cell ss:StyleID="s64"><Data ss:Type="Number"><%= line_item.price.money.to_f %></Data></Cell>
        <% grand_total = grand_total + line_item.gross_total.money.to_f %>
        <Cell ss:StyleID="s64"><Data ss:Type="Number"><%= line_item.gross_total.money.to_f %></Data></Cell>
        <Cell ss:StyleID="s63"><Data ss:Type="Number"><%= line_item.quantity %></Data></Cell>
        <Cell ss:StyleID="s63"><Data ss:Type="String"><%= line_item.units %></Data></Cell>
      </Row>
    <% end %>

    <Row ss:AutoFitHeight="0">
    <Cell ss:StyleID="s65"/>
    <Cell ss:StyleID="s66"/>
    </Row>

    <Row ss:AutoFitHeight="0">
    <Cell ss:StyleID="s65"><Data ss:Type="String">GRAND TOTAL</Data></Cell>
    <Cell ss:Index="3" ss:StyleID="s66"><Data ss:Type="Number"><%= grand_total %></Data></Cell>
    </Row>
    </Table>
  </Worksheet>

  <Worksheet ss:Name="Packing Breakdown">
    <Table x:FullColumns="1" x:FullRows="1" ss:DefaultColumnWidth="65" ss:DefaultRowHeight="15">
      <Column ss:AutoFitWidth="0" ss:Width="126"/>
      <Row>
        <Cell ss:StyleID="s62"><Data ss:Type="String">Name</Data></Cell>
        <Cell ss:StyleID="s62"><Data ss:Type="String">Unit</Data></Cell>
        <Cell ss:StyleID="s62"><Data ss:Type="String">Number of Packs</Data></Cell>
        <Cell/> 
        <Cell ss:StyleID="s62"><Data ss:Type="String">Pack Quantities</Data></Cell>
        <Cell ss:StyleID="s62"/>
        <Cell ss:StyleID="s62"/>
      </Row>
      <% @oc_single_qtys.sort_by {|name, qtys| name}.each do |name, qtys| %>
      <Row>
        <Cell><Data ss:Type="String"><%= name %></Data></Cell>
        <% unit = 'each' %>
        <% if name =~ /(\d+)\s*g/ #e.g. 500g %>
            <% unit = "#{$1.to_s}g" %>
        <% end %>

        <Cell><Data ss:Type="String"><%= unit %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= qtys.length %></Data></Cell>
        <Cell/>
        <% qtys.each do |qty| %>
            <Cell><Data ss:Type="Number"><%= qty %></Data></Cell>
        <% end %>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>


