<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
 xmlns:o="urn:schemas-microsoft-com:office:office"
 xmlns:x="urn:schemas-microsoft-com:office:excel"
 xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
 xmlns:html="http://www.w3.org/TR/REC-html40">
 <OfficeDocumentSettings xmlns="urn:schemas-microsoft-com:office:office">
  <AllowPNG/>
 </OfficeDocumentSettings>
 <ExcelWorkbook xmlns="urn:schemas-microsoft-com:office:excel">
  <WindowHeight>14060</WindowHeight>
  <WindowWidth>25040</WindowWidth>
  <WindowTopX>560</WindowTopX>
  <WindowTopY>560</WindowTopY>
  <ProtectStructure>False</ProtectStructure>
  <ProtectWindows>False</ProtectWindows>
 </ExcelWorkbook>
 <Styles>
  <Style ss:ID="Default" ss:Name="Normal">
   <Alignment ss:Vertical="Bottom"/>
   <Borders/>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#000000"/>
   <Interior/>
   <NumberFormat/>
   <Protection/>
  </Style>
  <Style ss:ID="s62">
   <Alignment ss:Horizontal="Center" ss:Vertical="Bottom"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:FontName="Calibri" ss:Size="12" ss:Bold="1"/>
   <Interior ss:Color="#FCF305" ss:Pattern="Solid"/>
  </Style>
  <Style ss:ID="s63">
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
  </Style>
  <Style ss:ID="s64">
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <NumberFormat ss:Format="Currency"/>
  </Style>
  <Style ss:ID="s65">
   <Font ss:FontName="Calibri" ss:Size="12" ss:Color="#000000" ss:Bold="1"/>
  </Style>
  <Style ss:ID="s66">
   <Font ss:FontName="Calibri" ss:Size="12" ss:Color="#000000" ss:Bold="1"/>
   <NumberFormat ss:Format="Currency"/>
  </Style>
  <Style ss:ID="s67">
   <NumberFormat ss:Format="Currency"/>
  </Style>
  <Style ss:ID="s68">
   <Font ss:FontName="Calibri" ss:Size="20" ss:Color="#000000"/>
  </Style>
 </Styles>


  <Worksheet ss:Name="Pickup Sheet">
    <Table x:FullColumns="1" x:FullRows="1" ss:DefaultColumnWidth="90" ss:DefaultRowHeight="15">
      <Column ss:AutoFitWidth="0" ss:Width="126"/>
      <Row ss:Height="25">
      <Cell ss:StyleID="s68"><Data ss:Type="String">PICKUP & SIGNOFF SHEET - <%= @order_cycle.name.encode %></Data></Cell>
      </Row>

      <Row  ss:AutoFitHeight="0">
      <Cell ss:StyleID="s62"><Data ss:Type="String">Name</Data></Cell>
      <Cell ss:StyleID="s62"><Data ss:Type="String">Price </Data></Cell>
      <% email_to_idx = {} %>
      <% @order_cycle.orders.map{|x| x.email } .sort! {|a,b| a.downcase <=> b.downcase} .each_with_index {|email, idx| email_to_idx[email] ||= idx } %>

      <% email_to_idx.keys.each do |email| %>
          <Cell ss:StyleID="s62"><Data ss:Type="String"><%= email.split('@').first %> </Data></Cell>
      <% end %>
      <Cell ss:StyleID="s62"><Data ss:Type="String">Total (#) </Data></Cell>
      <Cell ss:StyleID="s62"><Data ss:Type="String">Total ($) </Data></Cell>
      </Row>
     
      <% @name_to_items.sort_by {|name,x| name}.to_h .each do |name,line_items| %>
      <Row>
        <Cell ss:StyleID="s63"><Data ss:Type="String"><%= name %></Data></Cell>
        <Cell ss:StyleID="s64"><Data ss:Type="Number"><%= line_items.first.price.to_f %></Data></Cell>

        <% line_total_cash = 0 %>
        <% line_total_qty = 0 %>

        <% li_by_email = line_items.sort_by {|x| x.order.email.downcase }.to_a %>

        <% for curr_col in 0..(email_to_idx.length-1) %>
            <% item = li_by_email.first %>
            <% email_idx = item.nil? ? -1 : email_to_idx[item.order.email] %>
            <% if email_idx == curr_col %>
                <Cell ss:StyleID="s63"><Data ss:Type="Number"><%= item.quantity %></Data></Cell>
                <% line_total_cash += item.total.to_f %>
                <% line_total_qty += item.quantity %>
                <% li_by_email.shift %>
            <% else %>
                <Cell ss:StyleID="s63"/>
            <% end %>
        <% end %>

        <Cell ss:StyleID="s63"><Data ss:Type="Number"><%= line_total_qty%></Data></Cell>
        <Cell ss:StyleID="s64"><Data ss:Type="Number"><%= line_total_cash %></Data></Cell>
      </Row>
    <% end %>

      
      <Row ss:AutoFitHeight="0">
      <Cell ss:StyleID="s65"><Data ss:Type="String">GRAND TOTAL (inc. 2% admin fee)</Data></Cell>
      <Cell ss:StyleID="s65"/>
      <% grand_total = 0 %>
      <% order_totals_by_email = @order_cycle.orders.group_by {|x| x.email} .map{|k,v| [k, v.reduce(0){|tot,x| tot + x.total}.to_f]} .sort_by {|x,v| x.downcase} %>
      <% order_totals_by_email.each do |email, total| %>
          <% grand_total += total %>
        <Cell ss:StyleID="s64"><Data ss:Type="Number"><%= total %></Data></Cell>
      <% end %>
      <Cell ss:StyleId="s64"/>

      <Cell ss:StyleID="s64"><Data ss:Type="Number"><%= grand_total %></Data></Cell>
      </Row>

    </Table>
  </Worksheet>

</Workbook>


